<div
   class="relative p-1 lg:p-8 text-0 overflow-hidden flex justify-content-center"
   style="
      background: url('../../assets/images/fondo-what-are.jpg') no-repeat;
      background-size: cover;
   "
>
   <div
      class="text-center my-6 relative p-2 md:p-4 lg:p-8"
      style="background-color: rgba(103, 109, 109, 0.534); max-width: 900px"
   >
      <div
         class="text-xl md:text-3xl lg:text-5xl mb-3 text-white flex justify-content-center flex-wrap"
      >
         {{ text.title }}
      </div>

      <div [class]="paragraph()" style="max-width: 500px">
         {{ text.paragraph1 }}
      </div>
      <div [class]="paragraph()" style="max-width: 500px">
         {{ text.paragraph2 }}
      </div>
      <div [class]="paragraph()" style="max-width: 500px">
         {{ text.paragraph3 }}
      </div>
   </div>
</div>
<!-- 

   class="text-xl text-white-alpha-70 line-height-3 text-center mx-auto mb-5"



   <div
               class="shadow-2 border-round-xl cursor-pointer h-full"
               [style]="borderColor(recipe.category)"
               (click)="displayRecipe(recipe)"
            >
 -->
