<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
   <div class="text-900 font-bold text-5xl mb-4 text-center">
      {{ text.title }}
   </div>

   <p class="text-700 text-xl mt-0 mb-6 text-center line-height-3">
      {{ text.subTitle }}
   </p>

   <div class="flex flex-column lg:flex-row gap-4">
      <div class="flex flex-column gap-4 flex-1">
         <div
            *ngFor="let item of items"
            class="shadow-2 surface-card p-4 cursor-pointer border-round-lg border-2 border-transparent text-900 hover:surface-hover transition-colors transition-duration-150"
            (click)="selectedItem = item"
            [ngClass]="{ 'border-primary': selectedItem == item }"
         >
            <div class="flex flex-column lg:flex-row align-items-start">
               <div class="mr-3 icono-container">
                  <span
                     class="inline-flex justify-content-center border-circle align-items-center bg-indigo-100 w-2rem md:w-3rem h-2rem md:h-3rem bg-primary mb-1 lg:mb-2 icono"
                  >
                     <i [ngClass]="item.icon" class="text-base md:text-2xl"></i>
                  </span>
               </div>

               <div>
                  <div class="text-xl mb-2 font-bold">{{ item.name }}</div>

                  <!-- <p class="m-0 text-600 line-height-3">
                     {{ item.description[0].substring(0, 100) + " ..." }}
                  </p> -->
                  <p class="m-0 text-600 line-height-3 lg:hidden">
                     {{ item.description[0] }}
                  </p>

                  <p class="m-0 text-600 line-height-3 hidden lg:block">
                     {{ item.description[0].substring(0, 100) + " ..." }}
                  </p>
               </div>
            </div>
         </div>
      </div>

      <div class="flex-1 hidden lg:block">
         <div
            class="flex flex-column shadow-2 h-full border-round-lg overflow-hidden"
         >
            <div class="bg-primary p-5">
               <div class="text-4xl font-bold">
                  {{ selectedItem.name }}
               </div>

               <!-- <p class="m-0 line-height-3"></p> -->
            </div>

            <div
               class="flex-1 border-round-lg border-noround-top surface-card p-5 flex flex-column"
            >
               <!-- class="flex-1 mb-3" -->
               <div
                  *ngFor="let description of selectedItem.description"
                  class="flex-1 mb-3 text-600 line-height-3 text-center mx-auto mb-5 text-base md:text-lg"
               >
                  {{ description }}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
