<div class="surface-ground text-center px-4 py-8 md:px-6 lg:px-8">
   <div class="text-900 font-bold text-5xl mb-8 text-center">
      Conoce parte del equipo.
   </div>

   <div class="flex flex-column lg:flex-row">
      <div
         *ngFor="let mem of mems"
         class="flex flex-grow-1 mb-4 lg:mb-0 lg:px-4 py-4 lg:py-0"
      >
         <div class="shadow-2 surface-card border-round relative">
            <div
               class="absolute left-50"
               style="margin-left: -50px; top: -50px"
            >
               <p-avatar
                  image="{{ mem.pic }}"
                  shape="circle"
                  styleClass="shadow-1"
                  [style]="{ width: '100px', height: '100px' }"
               ></p-avatar>
            </div>

            <div class="px-4 pb-4 pt-8 relative">
               <p
                  class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border"
               >
                  {{ mem.desc }}
               </p>

               <div class="text-900 font-semibold line-height-3 mt-4">
                  {{ mem.name }}
               </div>

               <div class="text-600 line-height-3 text-sm">{{ mem.city }}</div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- <div class="surface-ground text-center px-0 sm:px-4 py-8 md:px-6 lg:px-8">
   <p-carousel [value]="mems" autoPlayInterval="2000" [circular]="true">
      <ng-template let-mem pTemplate="item">
         <div class="flex justify-content-center">
            <div
               class="surface-card shadow-2 px-2 md:px-6 py-5 border-round mb-4 text-900 text-2xl line-highlight-3"
               style="max-width: 600px"
            >
               {{ mem.desc }}
            </div>
         </div>

         <img
            src="{{ mem.pic }}"
            width="56"
            height="56"
            [alt]="mem.name"
            class="mb-3"
         />

         <div class="text-900 font-bold line-height-3">{{ mem.name }}</div>

         <div class="text-600 line-height-3 mb-4">{{ mem.city }}</div>
      </ng-template>
   </p-carousel>
</div> -->
